.btn-yellow{
    background-color: #FFCD0E;
    color: white;
}

.btn-grey{
    background-color: #E3E4DF;
    color: #8A8A8A;
}

.btn-grey:hover{
    color: white;
}

.btn-bold-txt{
    font-family: 'Swanse Bold';
}

.btn-black{
    background-color: black;
    color: white;
}