.cart-status table{
    margin-left: 10px;
    margin-top: 22px;
}

.cart-status table p{
    margin: 0;
    font-size: 13px;
}

.cart-status table tr .delivery-info{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #E8E9E4;
}

.cart-status table tr .delivery-info p{
    width: 120px;
    font-size: 0.95em;
}

.cart-status table tr .bottle-num{
    background-color: #E8E9E4;
}

.cart-status table tr .bottle-num h1{
    font-family: 'Bree Serif', serif;
    color: #666666;
    font-weight: 400;
    margin: 0;
    width: 120px;
    font-size: 52px;
    background-color: #E8E9E4;
}

.cart-status table tr .bottle-num h4{
    font-family: 'Roboto Slab', serif;
    color: #666666;
    font-weight: 700;
    margin: 0;
    width: 120px;
    font-size: 24px;
    background-color: #E8E9E4;
}


.cart-status table tr .delivery-info, .cart-status table tr .bottle-num{
    border-right: 1px solid #F4F3EF;
    padding: 0 20px;
}

.cart-items{
    font-family: 'Swanse', sans-serif !important;
    color: #3e3e3e;
    font-size: 0.95em;
    width: 100%;
    padding: 10px 10px 30px 10px;
    background-color: #E8E9E4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cart-items table{
    margin: 0 !important;
    width: 100%;
}

.cart-items table tr .cart-item{
    padding: 5px 0;
    border-bottom: 1px solid #F4F3EF;
}

.cart-items table tr .action{
    width: 30px;
}

.cart-items tr td button{
    width: 90px;
    margin: 4px 0 4px 10px;
    padding: 5px 12px;
    font-size: 13px;
}

.cart-item .total{
    color: red;
}


