.footer .header{
    border-bottom: 1px dotted lightgray;
    margin-bottom: 15px !important;
}

.footer .header h3{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    color: #A4A3A1;
}

.footer p{
    font-size: 13px;
    color: gray;
}

.footer p .dark{
    color: #3e3e3e;
}