body{
    background-color: #F4F3EF !important;
    padding: 4% 13%;
}

p{
    font-family: 'Swanse', sans-serif !important;
    color: #3e3e3e;
}

@font-face{
    font-family: 'Swanse';
    src: url('../../assets/fonts/swanse r.ttf');
}

@font-face{
    font-family: 'Swanse Bold';
    src: url('../../assets/fonts/swanse b.ttf');
}

.no-padding{
    padding: 0 !important;
}

.no-padding-right{
    padding-right: 0 !important;
}

.no-padding-left{
    padding-left: 0 !important;
}

.row{
    margin: 0 !important;
}

.sm-pad-left{
    padding-left: 10px !important;
}