/*Main Site nav - wines-nav**/
.wines-nav{
    border-bottom: 1px solid #B0B0B0;
}

.wines-nav .wines-logo{
    margin-right: 30px;
    margin-bottom: 5px;
    width: 190px;
    height: auto;
}

.wines-nav-items h3{
    font-family: 'Roboto Slab', serif;
    color: #666666;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 23px;
    word-spacing: -2px;
}

.wines-nav-items h3:hover, .wines-nav-items h3:active, .wines-nav-items p:active{
    color: #B1B1B1 !important;
    cursor: pointer;
}

.wines-nav-items{
    padding-bottom: 0 !important;
    border-bottom: 10px solid #646361;
}

.wines-nav-items th{
    border-bottom: 1px solid #bdbdbd;
}

.wines-nav-items th, .wines-nav-items td{
    border-right: 25px solid #F4F3EF;
}

.wines-nav-items th:last-child, .wines-nav-items td:last-child{
    border-right: none;
}

.menu-desc p{
    margin-top: 10px;
}

.menu-desc p{
    font-size: 0.9em;
    color: #3e3e3e;
    font-weight: 400;
}

.news{
    width: 200px;
}

.news p{
    margin-top: -5px;
}
/*Country Info Nav*/
.country-info{
    margin-top: 2px;
}

.country-info .empty{
    width: 220px;
}

.country-info td{
    padding-right: 5px !important;
}

.country-info table tr td p{
    margin-top: 4px;
    font-size: 13px;
}
/*Section content navigation styles*/

.section-content{
    width: 100%;
}

.section-item-right{
    float: right;
}

.section-item-right h3{
    font-family: 'Roboto Slab', serif;
    color: #666666;
    font-weight: 600;
    margin-right: 40px;
    margin-top: 0;
    font-size: 22px;
    word-spacing: -2px;
}

.section-item-right hr{
    border-color: #bdbdbd;
    margin: 10px 0;
}

.section-menu{
    margin: 20px 0; 
    clear: both;
}

.section-menu .col-md-4{
    padding-right: 5px;
    padding-left: 0 !important;
}

.section-menu .col-md-8{
    padding-left: 5px;
    padding-right: 0 !important;
}

.nav-tabs .tab-right{
    float: right !important;
    background-color: transparent;
    padding-right: 0 !important;
    text-align: right;
}

.nav-tabs .tab-right a{
    padding: 0 10px 15px !important;
}

.filter-container{
    padding: 0;
}

.filter-menu{
    background-color: #E8E9E4;
}

.nav-tabs li{
    background-color: #E8E9E4;
    border-radius: 10px;
    padding-bottom: 5px;
    padding-right: 15px;
}

.nav-tabs li a{
    padding-top: 2px !important;
    text-decoration: none;
    color: #646462;
    font-family: 'Swanse', sans-serif;
    font-size: 13px;
}

.nav-tabs li a:hover, .nav-tabs li a:focus, .nav-tabs li a:active{
    background: transparent !important;
    border: none;
}

.filter-menu{
    margin-top: -18px;
    padding: 12px 15px;
    border-radius: 10px;
}

.filter-menu .top-menu{
    margin: 5px 0 5px 0;
}

.filter-menu .bottom-menu{
    margin: 10px 0 0 0;
}

.filter-menu button{
    vertical-align: center;
    color: #646462;
    font-family: 'Swanse', sans-serif !important;
    width: 72px;
    padding: 1px 8px 3px 8px;
    font-size: 13px;
    margin-right: 10px;
    border-radius: 5px;
}

.filter-menu span{
    margin-right: 10px;
    color: #646462;
    font-size: 13px;
    font-family: 'Swanse', sans-serif !important;
}

.filter-menu .row{
    margin: 0 !important;
}

.filter-menu .row .no-bg{
    background-color: #E8E9E4 !important;
}

.filter-menu .row .col-md-4{
    padding: 0 !important;
}

.filter-menu .row .col-md-4 a{
    padding: 10px 30px;
    background-color: #D7D6D2;
}

.nav-grey{
    color: #B1B1B1 !important;
}