.products{
    margin-top: 50px;
}

.product{
    padding-left: 0 !important;
}

.product .medal{
    padding: 0 !important;
    text-align: center;
    font-weight: bold;
}

.product .medal p{
    margin: 0;
    font-size: 18px; 
    color: #C1A969;
    font-family: 'Bree Serif', serif !important;
}

.product .medal span{
    color: #C1A969;
    margin-left: -20px;
    font-size: 20px !important;
}

.product .wine-img{
    padding-left: 0 !important;
}

.product .wine-img img{
    width: auto;
    height: 220px;
}

.product-details table h4{
    font-family: 'Roboto Slab', serif;
    color: #A4A3A1;
}

.product-details table .price{
    font-family: 'Roboto Slab', serif;
    color: #929292;
    font-weight: 600;
}

.product-details .pName{
    height: 150px;
    width: 160px;
    margin-top: -10px;
}

.product-details .pName h3{
    font-family: 'Bree Serif', serif;
    font-weight: 400;
    color: #A4A3A1;
    font-size: 55px;
}

.product-details .pName h4{
    font-family: 'Roboto Slab', serif;
    color: #A4A3A1;
    font-weight: 300;
    font-size: 20px;
}

.product-details h4{
    margin: 4px 0 !important;
}

.product-details h3{
    margin-top: 0 !important;
    margin-bottom: 2px !important;
}

.product-details .dotted-border{
    border-right: 1px dotted grey;
}

.product-details td{
    padding: 0 3px;
}

.product-details button{
    padding: 3px 12px 6px 12px;
    font-size: 13px;
}

.product-details tr.spaceAbove > td
{
  padding-top: 10px !important;
}

.product-details td h4{
    margin: 4px 0 !important;
}

.product-details td > input{
    width: 25px;
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    margin-right: 4px;
    padding: 2px 5px;
    font-size: 12px;
}

.product-details .quantity{
    color: #AAAAAA;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.product-details > .row > .first{
    padding-left: 0 !important;
}

.product-details > .row > .divider{
    border-right: 1px dotted grey;
    padding: 0 !important;
}

.curly-brace-rotated{
    font-family: 'Josefin Slab', serif;
    font-weight: 600;
    margin-top: -50px;
    font-size: 100px;
    color: lightgray;
    -ms-transform: rotate(90deg); 
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.product-row-divider{
    margin-bottom: 15px;
    text-align: right;
}

.product-row-divider hr{
    border: 1px dotted lightgray;
    margin: 0;
}

.product-row-divider img{
    width: 60px;
    height: auto;
    padding: 10px;
    background-color: #EAE9E5;
}