<div class="row wine-content">
    <div class="section-nav">
        <div class="section-item-right">
            <h3>The Club</h3>
            <hr>
        </div>
    </div>
    <div class="section-menu">
        <div class="row">
            <div class="col-md-4">
                <div class="filter-container">
                    <ul class="nav nav-tabs">
                        <li>
                            <a href="#">Show me</a>
                        </li>
                        <li class="tab-right">
                            <a href="#">Show all</a>
                        </li>
                    </ul>
                    <div class="filter-menu">
                        <div class="top-menu">
                            <button class="btn default">White</button>
                            <button class="btn default">Red</button>
                            <button class="btn default">Sparkling</button>
                        </div>
                        <div class="bottom-menu">
                            <span>Order by:</span>
                            <button class="btn default">Price</button>
                            <button class="btn default">Vintage</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 cart-status">
                <table>
                    <tr>
                        <td class="delivery-info text-center">
                            <p>Delivery info</p>
                        </td>
                        <td class="bottle-num text-center">
                            <h1>36</h1>
                            <h4>Bottles</h4>
                        </td>
                        <td class="cart-items">
                            <table>
                                <tr ng-repeat="cartItem in cartItems">
                                    <td class="cart-item">{{cartItem.bottles}} X {{cartItem.year}} {{cartItem.name}}</td>
                                    <td><button ng-click="removeItem($index)" style="color: #F4F3EF" class="btn default">Empty cart</button></td>
                                </tr>
                                <tr>
                                    <td class="cart-item">Total <span class="total">${{totalPrice}}</span></td>
                                    <td class="action"> <button class="btn btn-black">Check Out</button></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="products">
        <div class="row">
            <div data-ng-repeat="wine in wines" class="col-md-4 product">
                <div class="row">
                    <div class="col-md-1 medal">
                        <div ng-show="wine.rating">
                            <p>{{wine.rating}}</p>
                            <span class="icon-medal"></span>
                        </div>
                    </div>
                    <div class="col-md-3 wine-img text-center">
                        <img src="{{wine.imgPath}}">
                        <div class="curly-brace-rotated">}</div>
                    </div>
                    <div class="col-md-7 product-details">
                        <div class="pName">
                            <h3>{{wine.year | limitTo : 3 : 2}}</h3>
                            <h4>{{wine.name}}</h4>
                        </div>
                        <table>
                            <tr>
                                <td class="dotted-border no-padding-left">
                                    <h4>Bottle</h4>
                                    <h4 class="price">${{wine.bottlePrice}}</h4>
                                    <input ng-model="bottleNum" type="number"><span class="quantity">QTY</span>
                                </td>
                                <td class="sm-pad-left">
                                    <h4>Case</h4>
                                    <h4 class="price">${{wine.cratePrice}}</h4>
                                    <input ng-model="crateNum" type="number"><span class="quantity">QTY</span>
                                </td>
                            </tr>
                            <tr class="spaceAbove">
                                <td class="no-padding-left">
                                    <button class="btn btn-grey btn-bold-txt">Details</button> </td>
                                <td>
                                    <butto data-ng-click="addToCart(wine, bottleNum, crateNum)" class="btn btn-yellow btn-bold-txt">Add to Cart</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-row-divider">
            <hr>
            <img src="img/back.png">
            <!--<i class="glyphicon glyphicon-menu-down"></i>-->
        </div>
    </div>
</div>